.link {
  display: flex;
  align-items: center;
  gap: var(--space-3);
  color: var(--color-text);
  text-decoration: none;
}

.avatar {
  width: var(--avatar-size-3);
  height: var(--avatar-size-3);
  border-radius: var(--radius-full);
  object-fit: cover;
}

.name {
  font-size: var(--font-size-3);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-3);
}
